    
    h1 {
        line-height: 120px;
        background: black;
        color: white;
        text-align: center;
    }
    
    h2 {
        text-align: center
    }
    
    #bioPhoto {
        height: 300px;
    }
    
    .floatingBox {
        float: left;
        max-width: 175px;
        margin: auto;
        
    }

  
    
    #assignment: {
        text-align: center;
    }
    
 
    
    body {
        font-size: 18px
    }

    p{

    	padding:40px;
    }
    