


    h1 {
        font-size: 28px;
        color: #eee;
        text-align: center;
        padding: 20px;
        margin: auto;
    }

    h2{
        text-indent: 5px;
        font-size: 24px;
        
    }
    
    #bio-image {
        float:left;
        width: 16%;
        border: 0;
        margin: 5px;
    }
    
    
    #main-bio{
        overflow: auto;
        float: left;
        width: 42%;
        padding: 15px;
    }
    
    #contact-info {
        text-indent: 6px;
        overflow: auto;
        float: left;
        width: 42%;
        
    }
    
    #header{
        text-align: center;
        background-color: #333333;
    }
    
    body {
        
        margin: 0;
        padding: 0;
        background-color: #efeee7;
        font:"Georgia",Times New Roman,Times,serif;
        color:#333333;

    }
    
   
